*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.btn-primary {
    border-radius: 5px;
    background: orangered;
    border: 0;
    padding: 15px 35px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

/*nav related style*/
.header {
    background-color: rgb(244, 235, 223);
    padding-top: 30px;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav {
    margin: 0 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.highlight-text {
    color: orangered;
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #181818;
}
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner .banner-img {
    width: 500px;
}
.banner-greeting {
    font-size: 45px;
    color: #3c3c3c;
    margin-bottom: 0;
}
.banner-title {
    font-size: 90px;
    font-weight: 700;
    color: #3c3c3c;
    margin-top: 5px;
}
.banner-description {
    font-size: 25px;
    
}